<div class="parent d-flex justify-content-center align-items-center">
  <div class="login-box">
    <mat-card class="p-3">
      <mat-card-title>{{'LOGIN' | translate}}</mat-card-title>
      <mat-card-content class="p-3">
        <form [formGroup]="form" (submit)="submit()">
          <p class="w-100">
            <mat-form-field class="w-100">
              <input
                type="text"
                matInput              
                [placeholder]="'USERNAME' | translate"
                formControlName="userName"            
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="w-100">
              <input
                type="password"
                matInput
                [placeholder]="'PASSWORD' | translate"
                formControlName="password"
              />
            </mat-form-field>
          </p>
          <!-- <div formArrayName="formArray">
            <div *ngFor="let item of form.get('formArray')['controls'];let index = index" [formGroupName]="index"   
          >
            
            </div>
          </div> -->
          <app-multiCheckbox formControlName = "multiCheckbox" [list]="list" [min]="2" [max]="2">
          </app-multiCheckbox>

          <p *ngIf="showError" class="error">
            {{ textError }}
          </p>

          <div>
            <div class="button">
              <button
         
               
                class="btn btn-primary"              
                [disabled]="!form.valid"
              >
                {{'SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
