<div class="parent d-flex justify-content-center align-items-center">
  <div class="login-box">
    <mat-card class="p-3">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content class="p-3">
        <form [formGroup]="form" (submit)="submit()">
          <p class="w-100">
            <mat-form-field class="w-100">
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="userName"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="w-100">
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
          </p>

          <p *ngIf="showError" class="error">
            {{ textError }}
          </p>

          <div>
            <div class="button">
              <button
         
               
                class="btn btn-primary"
                
              >
                login
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
