
<!-- <div class="d-flex justify-content-between">

    <div>
        <p>landing works!</p>
    </div>
    
    <div>
        <button class="btn btn-primary" (click)="navigation()">{{'GO_TO_LOGIN_PAGE'| translate}}</button>
    </div>
    
    <div>
        <mat-form-field>
            <mat-label>{{'SELECT_YOUR_LANGUAGE' | translate}}</mat-label>
            <mat-select (selectionChange)="onClick($event)">
              @for (item of items; track item) {
                <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
    </div>

</div>  -->




<div class="parent h-100">
  <div class="header position-fixed w-100">
      <div class="d-flex justify-content-between">
        <div> <button (click)="navigation()" class="btn white-color">ورود</button>‌
          <button class="btn white-color">درباره ما</button>‌</div>
        <div><mat-form-field>
          <mat-label>{{'SELECT_YOUR_LANGUAGE' | translate}}</mat-label>
          <mat-select (selectionChange)="onClick($event)">
            @for (item of items; track item) {
              <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field></div>
      </div>
  </div>
  <div class="body">
      <div class="card ">
        <div class="p-5">
          <h1>اطلاعات اولیه</h1>
          <p>بازاریابی شبکه ای یا نتورک مارکتینگ نوعی فرصت شغلی است که در میان افرادی که به دنبال مشاغل پاره وقت هستند، محبوبیت بالایی دارد. برخی از شرکت‌های بازاریابی شبکه ای در ایران، مثل تکسو، بیز، نیوشا و پنبه ریز از جمله معروف‌ترین این شرکت‌ها هستند.
  
            کالایی را در نظر بگیرید که قرار است پس از تولید به دست مصرف کننده نهایی برسد. به این منظور این کالا باید از کانال‌های مختلف توزیع ماننده عمده فروشی، انبارداری و خرده فروشی عبور کند.
            
            اما نتورک مارکتینگ چیست ؟ بازاریابی شبکه ای کجای این مسیر قرار است قرار بگیرد؟ در این مقاله تصمیم داریم در مورد بازاریابی شبکه ای صحبت کنیم و پاسخ کاملی به سوال نتورک مارکتینگ چیست دهیم. اگر به این زمینه علاقه دارید پیشنهاد می کنیم تا پایان این مقاله با ما همراه باشید.</p>
  
        </div>
      </div>
      <div class="card ">
        <div class="p-5">
          <h1>اطلاعات اولیه</h1>
          <p>بازاریابی شبکه ای یا نتورک مارکتینگ نوعی فرصت شغلی است که در میان افرادی که به دنبال مشاغل پاره وقت هستند، محبوبیت بالایی دارد. برخی از شرکت‌های بازاریابی شبکه ای در ایران، مثل تکسو، بیز، نیوشا و پنبه ریز از جمله معروف‌ترین این شرکت‌ها هستند.
  
            کالایی را در نظر بگیرید که قرار است پس از تولید به دست مصرف کننده نهایی برسد. به این منظور این کالا باید از کانال‌های مختلف توزیع ماننده عمده فروشی، انبارداری و خرده فروشی عبور کند.
            
            اما نتورک مارکتینگ چیست ؟ بازاریابی شبکه ای کجای این مسیر قرار است قرار بگیرد؟ در این مقاله تصمیم داریم در مورد بازاریابی شبکه ای صحبت کنیم و پاسخ کاملی به سوال نتورک مارکتینگ چیست دهیم. اگر به این زمینه علاقه دارید پیشنهاد می کنیم تا پایان این مقاله با ما همراه باشید.</p>
  
        </div>
      </div>
      <div class="card ">
        <div class="p-5">
          <h1>اطلاعات اولیه</h1>
          <p>بازاریابی شبکه ای یا نتورک مارکتینگ نوعی فرصت شغلی است که در میان افرادی که به دنبال مشاغل پاره وقت هستند، محبوبیت بالایی دارد. برخی از شرکت‌های بازاریابی شبکه ای در ایران، مثل تکسو، بیز، نیوشا و پنبه ریز از جمله معروف‌ترین این شرکت‌ها هستند.
  
            کالایی را در نظر بگیرید که قرار است پس از تولید به دست مصرف کننده نهایی برسد. به این منظور این کالا باید از کانال‌های مختلف توزیع ماننده عمده فروشی، انبارداری و خرده فروشی عبور کند.
            
            اما نتورک مارکتینگ چیست ؟ بازاریابی شبکه ای کجای این مسیر قرار است قرار بگیرد؟ در این مقاله تصمیم داریم در مورد بازاریابی شبکه ای صحبت کنیم و پاسخ کاملی به سوال نتورک مارکتینگ چیست دهیم. اگر به این زمینه علاقه دارید پیشنهاد می کنیم تا پایان این مقاله با ما همراه باشید.</p>
  
        </div>
      </div>
      <div class="card ">
        <div class="p-5">
          <h1>اطلاعات اولیه</h1>
          <p>بازاریابی شبکه ای یا نتورک مارکتینگ نوعی فرصت شغلی است که در میان افرادی که به دنبال مشاغل پاره وقت هستند، محبوبیت بالایی دارد. برخی از شرکت‌های بازاریابی شبکه ای در ایران، مثل تکسو، بیز، نیوشا و پنبه ریز از جمله معروف‌ترین این شرکت‌ها هستند.
  
            کالایی را در نظر بگیرید که قرار است پس از تولید به دست مصرف کننده نهایی برسد. به این منظور این کالا باید از کانال‌های مختلف توزیع ماننده عمده فروشی، انبارداری و خرده فروشی عبور کند.
            
            اما نتورک مارکتینگ چیست ؟ بازاریابی شبکه ای کجای این مسیر قرار است قرار بگیرد؟ در این مقاله تصمیم داریم در مورد بازاریابی شبکه ای صحبت کنیم و پاسخ کاملی به سوال نتورک مارکتینگ چیست دهیم. اگر به این زمینه علاقه دارید پیشنهاد می کنیم تا پایان این مقاله با ما همراه باشید.</p>
  
        </div>
      </div>





    
   
  </div>

</div>





